@charset "UTF-8";

/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #fff;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #007bff;
  align-content: centre;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  align-content: centre;
  
}

.login-container input:focus {
  border-color: #007bff;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container a {
  display: inline-block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.login-container a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.error-msg {
  color: red;
  margin-top: 10px;
}